.hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}
/*  #region Common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion */
/* #region Header */

.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.heder-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.address-header {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-style {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-page {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .address-header {
    font-style: normal;
    display: block;
  }

  .nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px;
    padding-bottom: 24px;
    display: block;
  }

  .nav-list-adress {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-item-link.current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item-link.current::after {
    content: '';
    position: absolute;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-item-link:hover,
  .nav-item-link:focus,
  .nav-item-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .nav-list-adress {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
  }
}
/* #endregion */
/* #region Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 72px 24px 40px 16px;
  width: 100%;
  height: 100%;
}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  stroke: rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-decoration: none;
  gap: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.icon-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list:focus,
.icon-list:hover {
  background-color: #404bbf;
}

.icon-line {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.icon-line-list .icon-list {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.mobile-adress {
  color: #434455;
  font-style: normal;
}
.mobile-menu-item .mobile-link.link {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */

/* #region Hero */
.hero {
  background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-position: center center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/officepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .header-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/all-page/officepage-mobile2x.jpg);
  }
}

.hero .main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 216px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/all-page/officepage-tablet.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }

  @media (min-resolution: 192dpi) {
    .header-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/all-page/officepage-tablet2x.jpg);
    }
  }

  .header-section .page-tittle {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    text-align: center;
    color: #fff;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/officepage.jpg);
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-resolution: 192dpi) {
    .header-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/all-page/officepage2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .hero-btn {
    margin-top: 36px;
  }
}

/* #endregion */

/* #region Sections */

.info-title,
section-cont-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  width: calc((100% - 72px) / 4);
}

.info-title {
  margin-bottom: 8px;
}
.text-title,
.prof-name-title,
.title-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.text-title {
  text-align: center;
}

.title-card {
  font-weight: 500;
}

.name-title,
.content-card-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.name-tittle {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .info-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .info-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text-title {
    font-weight: 400;
  }
}

.hero-icon {
  display: none;
}
.icon {
  display: flex;
  flex-direction: column;
}
.section-hero-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.section-hero-list .section-hero-item {
  max-width: 288px;
}
@media screen and (min-width: 768px) {
  .section-hero-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .section-hero-list .section-hero-item {
    max-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .section-hero-list .section-hero-item {
    max-width: 264px;
  }

  .hero-icon {
    display: flex;
    fill: #f4f4fd;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    height: 112px;
  }

  @media screen and (max-width: 1157px) {
    .icon {
      display: none;
    }
  }
}
/* #endregion */

/* #region Second section */
.section-hero-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.section-hero-list .section-hero-item {
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .section-hero-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .section-hero-list .section-hero-item {
    max-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-hero-list .section-hero-item {
    max-width: 264px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    height: 112px;
  }
}

@media screen and (max-width: 1157px) {
  .icon {
    display: none;
  }
}

/* #region Thirt section */
.section-our-team {
  background: #f4f4fd;
}

.section-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.section-team-list > .team-list {
  max-width: 264px;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.about-team {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 32px 16px;
}

.icon-line {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-line .icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-line .icon-list:hover,
.icon-line .icon-list:focus {
  background-color: #404bbf;
}
