.hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}
/*  #region Common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion */
/* #region Header */

.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 998;
}

.heder-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.address-header {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-style {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav-page {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 120px;
  }

  .address-header {
    font-style: normal;
    display: block;
  }

  .nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px;
    padding-bottom: 24px;
    display: block;
  }

  .nav-list-adress {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-item-link.current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item-link.current::after {
    content: '';
    position: absolute;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-item-link:hover,
  .nav-item-link:focus,
  .nav-item-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .nav-list-adress {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
  }
}
/* #endregion */
/* #region Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
  width: 100%;
  height: 100%;
}

.mobile-menu-container .icon-line {
  justify-content: flex-start;
}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  stroke: rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-decoration: none;
  gap: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.icon-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list:focus,
.icon-list:hover {
  background-color: #404bbf;
}

.icon-line {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.icon-line-list .icon-list {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.mobile-adress {
  color: #434455;
  font-style: normal;
}
.mobile-menu-item .mobile-link.link {
  color: #404bbf;
}

.mobile-links {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */

/* #region Hero */
.hero {
  background-position: center center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/officepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/all-page/officepage-mobile2x.jpg);
  }
}

.hero .main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/all-page/officepage-tablet.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }

  .hero .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .hero-btn {
    margin-top: 36px;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/all-page/officepage-tablet2x.jpg);
    }
  }

  .header-section .page-tittle {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/officepage.jpg);
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/all-page/officepage2x.jpg);
    }
  }
}

/* #endregion */

/* #region Sections */

.section-hero {
  padding-top: 96px;
  padding-bottom: 96px;
}

.info-title,
.section-cont-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.info-title {
  text-align: center;
}

.section-cont-title {
  text-align: center;
}

.info-title {
  margin-bottom: 8px;
}
.text-title,
.prof-name-title,
.title-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.title-card {
  font-weight: 500;
}

.name-title,
.content-card-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.name-tittle {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .info-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .info-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text-title {
    font-weight: 400;
  }

  .section-hero {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.icon {
  display: flex;
  flex-direction: column;
}
.section-hero-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.section-hero-list .section-hero-item {
  max-width: 288px;
}
@media screen and (min-width: 768px) {
  .section-hero-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .section-hero-list .section-hero-item {
    max-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .section-hero-list .section-hero-item {
    max-width: 264px;
  }

  .hero-icon {
    display: flex;
    fill: #f4f4fd;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    height: 112px;
  }

  @media screen and (max-width: 1157px) {
    .icon {
      display: none;
    }
  }
}
/* #endregion */

/* #region Second section */
.section-hero-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.section-hero-list .section-hero-item {
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .section-hero-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .section-hero-list .section-hero-item {
    max-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-hero-list .section-hero-item {
    max-width: 264px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    height: 112px;
  }
}

@media screen and (max-width: 1157px) {
  .icon {
    display: none;
  }
}
/* #endregion */
/* #region Thirt section */

.section-our-team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.section-team-list > .team-list {
  max-width: 264px;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.about-team {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  padding: 32px 16px;
}

.about-team .icon-list {
  margin: 0;
}

.hero-icon {
  fill: white;
}

.icon-line {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-line .icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-line .icon-list:hover,
.icon-line .icon-list:focus {
  background-color: #404bbf;
}

.modal-form-btn .hero-icon,
.icon-list .hero-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .section-team-list {
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }

  .section-team-list > .team-list {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-team-list > .team-list {
    flex-basis: calc((100% - 72px) / 4);
  }

  .section-our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* #endregion */
/* #region four section */

.section-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-port-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
}

.cont-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-port-list > .project-card {
  max-width: 288px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.over-port {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  padding: 40px 32px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.our-port-list .project-card:hover .overlay-text {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .our-port-list > .project-card {
    max-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }

  .our-port-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .our-port-list > .project-card {
    max-width: 360px;
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-port-list > .project-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .our-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
/* #endregion */

/* #region Footer */
.footer-page {
  background-color: #2e2f42;
  padding: 100px 0 100px 0;
}

.footer-page .logo-footer {
  display: flex;
  align-self: center;
}

.logo-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo-style-footer {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.box-title {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.footer-page .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.social-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.social-box .icon-list:hover,
.social-box .icon-list:focus {
  background-color: #31d0aa;
}

.social-box .social-list-box {
  display: flex;
  gap: 16px;
}

.footer-page .icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-box {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-box-text {
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

.footer-email-form {
  display: flex;
  flex-direction: column;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  width: 288px;
}

.footer-input::placeholder {
  color: #fff;
}

.footer-send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #4d5ae5;
  letter-spacing: 0.04em;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-send-btn .footer-btn-icon {
  margin-left: 16px;
}

.footer-send-btn:hover,
.footer-send-btn:active,
.footer-send-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-box {
    align-items: flex-start;
  }

  .footer-page .container {
    justify-content: flex-start;
    column-gap: 24px;
    padding-left: 108px;
  }

  .footer-input {
    width: 264px;
  }

  .footer-form {
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-page .container {
    justify-content: flex-start;
    gap: 0;
    padding: 0 15px;
    margin: 0;
    align-items: baseline;
  }

  .logo-box {
    margin-right: 120px;
  }

  .social-box {
    margin-right: 80px;
  }

  .footer-page {
    display: flex;
    justify-content: center;
  }
}
/* #endregion */

/* #region modal */
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  min-width: 288px;
  max-width: 408px;
  min-height: 584px;
  padding: 72px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .modal-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #4d5ae5;
  letter-spacing: 0.04em;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.modal-form .modal-form-btn:hover {
  background-color: #404bbf;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  text-align: center;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field {
  margin-bottom: 8px;
}

.form-icon {
  position: relative;
}

.user-comment {
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comement {
  margin-bottom: 16px;
}

.user-comment {
  display: block;
  margin-bottom: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  stroke: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border-color: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  margin-bottom: 24px;
  fill: #2e2f42;
  align-self: flex-end;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: #fff;
}

.modal-form-field:focus-within .modal-form-icon {
  fill: #4d5ae5;
}

.user-comment:focus-within,
.modal-input:focus-within {
  border-color: #4d5ae5;
}

.castom-checkbox {
  display: inline-flex;
  min-width: 16px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  fill: transparent;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper-checkbox {
  margin-bottom: 24px;
}

.user-comment-checkbox {
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.violet {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.visually-hidden:checked + .user-comment-checkbox > .castom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
