body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-page .container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section-hero-list {
  display: flex;
}
.nav-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

/* #region Header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-style {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
}

.nav-list {
  font-weight: 500;
  text-decoration: none;
  color: #2e2f42;
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .nav-item-link {
  padding: 24px 0;
}

.address-header {
  color: #434455;
  font-style: normal;
}

.address-link {
  font-weight: 400;
  color: #434455;
  text-decoration: none;
  padding: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.nav-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px;
  padding-bottom: 24px;
  display: block;
}
.nav-item-link.current {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-link.current::after {
  content: '';
  position: absolute;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-item-link:hover,
.nav-item-link:focus,
.nav-item-link.current {
  color: #404bbf;
}
/* #endregion */
/* #region Hero */
.hero {
  background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-position: center center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/officepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
}
.hero .main-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.hero.container {
  width: 496px;
  padding-top: 188px;
  padding-bottom: 292px;
  padding-left: 472px;
  padding-right: 472px;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.section-hero-list {
  color: #434455;
  display: flex;
  gap: 24px;
}
.section-cont-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-hero-item {
  width: 264px;
  display: flex;
  flex-direction: column;
  flex-basis: calc((100%-72px) / 4);
}
.about-team {
  padding-top: 32px;
  padding-bottom: 32px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  height: 112px;
}
.icon-line-list .icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.hero-icon {
  fill: #f4f4fd;
}
.icon-list {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list:focus,
.icon-list:hover {
  background-color: #404bbf;
}

.social-icon .icon-list:focus,
.social-icon .icon-list:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #31d0aa;
}
.icon-line {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  width: calc((100% - 72px) / 4);
}
.footer-page .container {
  display: flex;
  align-items: baseline;
}

.social-icon {
  width: 40px;
  height: 40px;
}
.logo-box {
  margin-right: 120px;
}
.social-box {
  display: flex;
  flex-direction: column;
}
.social-list-box {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-icon {
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-icon .icon-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.text-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-team {
  background-color: #f4f4fd;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.our-port-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-hero {
  padding-top: 120px;
  padding-bottom: 120px;
}
.prof-name-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.section-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.project-card {
  flex-direction: column;
  flex-basis: calc((100% - 72px) / 4);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  padding: 40px 32px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.over-port {
  position: relative;
  overflow: hidden;
}
.our-port-list > .project-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.project-card:hover .overlay-text {
  transform: translateY(0%);
}

.our-port-list > .project-card {
  flex-basis: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
}
.section-team-list {
  gap: 24px;
  display: flex;
}
.section-team-list > .team-list {
  background-color: white;
}
.team-box {
  padding: 32px 0;
}
.cont-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.content-card-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.title-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.hero {
  background-position: center;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
/* #endregion */
/* #region footer */
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-page {
  background-color: #2e2f42;
  padding: 100px 0 100px 0;
}
.footer-page .logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-page .container-footer-style {
  display: flex;
  align-items: baseline;
}
.logo-style-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 16px;
}
.footer-box {
  margin-left: 80px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.footer-box-text {
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}
.footer-email-form {
  display: inline-block;
  flex-direction: column;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  margin-right: 80px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-input::placeholder {
  color: #fff;
}
.footer-send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #4d5ae5;
  letter-spacing: 0.04em;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-send-btn .footer-btn-icon {
  margin-left: 16px;
}
/* #endregion*/
/* region modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  background-color: rgba(46, 47, 66, 0.4);
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}
.form-user {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 16px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  stroke: rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.modal {
  padding: 72px 24px 24px 24px;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: #ffffff;
}
.modal-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  width: 360px;
  height: 24px;
}
.modal-form-comement {
  margin-bottom: 16px;
}
.modal-btn {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.modal-input {
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition: border-color 250ms linear;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover {
  border: 1px solid #4d5ae5;
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-name {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-icon {
  position: relative;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon:focus-within {
  fill: #4d5ae5;
}
.modal-form-icon:hover .modal-form-icon {
  fill: #4d5ae5;
}

.user-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  resize: none;
  min-height: 120px;
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:hover,
.user-comment:focus {
  border: 1px solid #4d5ae5;
}
.user-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.castom-checkbox {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .user-comment-checkbox .castom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.user-comment-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.user-comment-checkbox a {
  text-decoration: underline;
}
.form-wrapper-checkbox {
  margin-bottom: 24px;
}
.violet {
  color: #4d5ae5;
}
/* endregion */
